@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

/* 
Mobile First: Uma boa prática é
Fazer o mobile primeiro, para que não 
precisemos escrever muito código
 */

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #FFF;
}

@media screen and (min-width: 300px){
    .content {
        max-width: 300px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
@media screen and (min-width: 576px){
    .content {
        max-width: 576px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    margin: 0;
}

